<h1>Para sincronizar los contactos</h1>
<p>Lee todos los contactos que recibe del movil, y devuelve la lista de contactos, que usan la app</p>
<p>
    { [ <br>
    contact : {name:paco, edad:15...}<br>
    contact : {name:luis, edad:25...}<br>
    contact : {name:maria, edad:19...}<br>
    ] }
</p>

