<h1>Lista de mensajes de un conversacion de un grupo</h1>
<p>
    { [<br>
        mesaje:{type: text,content: mensaje, tokenemisario:561asd6asd, tokereceptor:1a15asd1,1 day:21/1/2017, hora: 17:30 ....},<br>
        mesaje:{type: text,content: mensaje2, tokenemisario:561asd6asd, tokereceptor:1a15asd11, day:21/1/2017, hora: 17:31 ....},<br>
        mesaje:{type: text,content: mensaje3, tokenemisario:561asd6asd, tokereceptor:1a15asd11, day:21/1/2017, hora: 17:32 ....},<br>
    ] }
</p>
